li {
    list-style: none;
    font-size: 10px;
    font-weight: 100;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header, .section-one {
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    font-size: 16px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 12px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 10px;

}

h4 {
    font-size: 10px;
    font-weight: lighter;
    margin: 0;
}

h5 {
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
    margin: 0;

}

h6 {
    font-size: 15px;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f9faf8;
    gap: 20px;
    padding-bottom: 70px;
    background-color: #1f2937;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 20px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 80px}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: grey;
    flex: 1 0 0;
}

.hero-left {
    flex: 1 0 0;
}

button {
    padding: 5px 20px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.section-one {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.cards { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    max-width: fit-content;
}

.box {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid rgb(89, 0, 255);
}

.section-two {
    padding: 80px 150px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote {
    text-align: right;
}

.section-three {
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
}

.cta {
    color: #f9faf8;
    padding: 30px 50px;
    display: flex;
    background-color: #3882f6;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.cta-right button {
    background-color: #3882f6;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.footer {
    text-align: center;
    color: #f9faf8;
    padding: 30px;
    background-color: #1f2937;
}